.dropbtn {
  background-color: #0ccac4;
  color:black;
  padding: 6px;
  font-size: 10px;
  font-family: sans-serif;
  font-weight: bold; 
  width: 150px;
  border-radius: 6%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 2%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 100px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #4d3e8e;}
.submit{
  border-radius: 2%;
  width: 120px;
}
.field{
  width: 120px;
  background-color:black;
  color: aliceblue;
}

.area{
    width:150px;
}