body {
  margin: 0;
  font-family: sans-serif;
  padding: 0;
  background-image: linear-gradient(to right,rgba(7,27,82,1) ,rgba(0,128,128,1) );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
